.react-calendar{
    padding: 25px;
}
.react-calendar__month-view:first-child{
    margin-right: 37px;
}
.react-calendar__month-view__weekdays{
    border-bottom: 2px solid #F4F6F8;
}
.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}
.react-calendar__tile--active{
    background: #e819329e;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: #232b38;
}
.react-calendar__tile--now{
    background: #232b38;
    color: #fff;
}